<h1>Edit <%= @item.name %> </h1>
<%= render(partial: 'form') %>

<br />
<%= link_to 'Delete Item', item_path(@item.id), method: :delete, data: {confirm: 'Really delete this item?'} %> |
<%= link_to 'Return to List', list_path(@item[:list_id]) %>